
* {
    font-family: Arial, Helvetica, sans-serif;
}

h2, p {
    margin-left:300px
}

h1 {
    color: darkred;
    font-weight: bold;
    border-bottom: 4px double darkred;
    border-top: 4px double darkred;
    padding: 30px;
    width: 500px;
    margin-left:300px;
    background-color: lightpink;
}

.ex1 {
    color: red;
}

.ex2 {
    color: blue;
    font-weight: bold;
}

ul {
    width: 350px;
    border: 2px solid blue;
    padding: 30px;
    margin-left: 320px;
    background-color: lightblue;
}

